{% extends "base.html" %}
{% block title %}<title>Submit a Listing</title>{% endblock %}
{% block content %}
<div class="container pt-5">
    <div class="row mt-2">
        <div class="col">
            <h1>Submit a Listing</h1>
        </div>
    </div>
    <div class="row mt-2">
        <h4>Fields marked with a red asterisk (<span style='color:red;'>*</span>) are required.</h4>
    </div>
    <form action="/submit-listing" method="POST" enctype="multipart/form-data">
        <div class="row mt-2">
            <div class="col-4">
                <label for="name" class="form-label">Enter your item's name:<strong style='color:red;font-size:'>*</strong></label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="description" class="form-label">Enter your item's description:<strong style='color:red;font-size:'>*</strong></label>
                <input type="text" class="form-control" id="description" name="description">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="startPrice" class="form-label">Enter a start price amount (optional):</label>
                <input type="number" class="form-control" id="startPrice" name="startPrice">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="quantity" class="form-label">Enter the quantity (optional):</label>
                <input type="number" class="form-control" id="quantity" name="quantity">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="shippingCosts" class="form-label">Enter the shipping costs (optional):</label>
                <input type="number" class="form-control" id="shippingCosts" name="shippingCosts">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="expiration" class="form-label">Set an expiration date for your auction:<strong style='color:red;font-size:'>*</strong></label>
                <input type="date" class="form-control" id="expiration" name="expiration">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="photo" class="form-label">Include a photo of your vehicle (optional):</label>
                <input class="form-control" type="file" id="photo" name="photo" accept="image/*">
            </div>
        </div>
        <div class="row my-5">
            <div class="col-4">
                <button class="btn btn-primary" type="submit">Submit Listing</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}